%header
  .navigation
    .left_nav
      %ul
        %li= link_to t('.home'), root_path
        %li= link_to t('.main'), main_index_path
        %li= link_to t('.about'), main_about_path
        %li= link_to t('.contacts'), main_contacts_path
        %li= link_to t('.help'), main_help_path



    - if signed_in?
      .right_nav
        %ul
          %li.logged
            = current_user.email
            %img{ src: "https://secure.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email)}.png", style: "width: 25px;" }
          %li= link_to t('.results'), results_list_path
          %li= link_to t('.sign_out'), signout_path

        .locale
          .ru_link
            = link_to image_tag("rus.png", alt: "", title: "Русский" ), locale: :ru
          .en_link
            = link_to image_tag("en.png", alt: "", title: "English"), locale: :en
          %b
            = I18n.locale
    - else
      .right_nav
        %ul
          %li= link_to t('.sign_in'), signin_path

        .locale
          .ru_link
            = link_to image_tag("rus.png", alt: "", title: "Русский" ), locale: :ru
          .en_link
            = link_to image_tag("en.png", alt: "", title: "English"), locale: :en
          %b
            = I18n.locale
